# Exercice : analyse de données

## Import des données

Importer les 2 jeux de données all-ages.csv et recent-grads.csv

In [68]:
import pandas as pd
import numpy as np

In [53]:
aa = pd.read_csv('Data/all-ages.csv')
rg = pd.read_csv('Data/recent-grads.csv')

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,36,2057,282,0.120564,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,7,679,77,0.101852,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,Engineering,856,3,725,131,0.153037,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,16,1123,135,0.107313,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,Engineering,32260,289,21239,11021,0.341631,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,169,3609,ZOOLOGY,Biology & Life Science,8409,47,3050,5359,0.637293,6259,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
169,170,5201,EDUCATIONAL PSYCHOLOGY,Psychology & Social Work,2854,7,522,2332,0.817099,2125,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,171,5202,CLINICAL PSYCHOLOGY,Psychology & Social Work,2838,13,568,2270,0.799859,2101,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,172,5203,COUNSELING PSYCHOLOGY,Psychology & Social Work,4626,21,931,3695,0.798746,3777,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
172,173,3501,LIBRARY SCIENCE,Education,1098,2,134,964,0.877960,742,...,237,410,87,0.104946,22000,20000,22000,288,338,192

In [47]:
aa.info()
rg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Major_code                     173 non-null    int64
 1   Major                          173 non-null    object
 2   Major_category                 173 non-null    object
 3   Total                          173 non-null    int64
 4   Employed                       173 non-null    int64
 5   Employed_full_time_year_round  173 non-null    int64
 6   Unemployed                     173 non-null    int64
 7   Unemployment_rate              173 non-null    float64
 8   Median                         173 non-null    int64
 9   P25th                          173 non-null    int64
 10  P75th                          173 non-null    float64
dtypes: float64(2), int64(7), object(2)
memory usage: 15.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Rank                  173 non-null    int64
 1   Major_code            173 non-null    int64
 2   Major                 173 non-null    object
 3   Major_category        173 non-null    object
 4   Total                 173 non-null    int64
 5   Sample_size           173 non-null    int64
 6   Men                   173 non-null    int64
 7   Women                 173 non-null    int64
 8   ShareWomen            173 non-null    float64
 9   Employed              173 non-null    int64
 10  Full_time             173 non-null    int64
 11  Part_time             173 non-null    int64
 12  Full_time_year_round  173 non-null    int64
 13  Unemployed            173 non-null    int64
 14  Unemployment_rate     172 non-null    float64
 15  Median                173 non-null    int64
 16  P25th                 173 non-null    int64
 17  P75th                 173 non-null    int64
 18  College_jobs          173 non-null    int64
 19  Non_college_jobs      173 non-null    int64
 20  Low_wage_jobs         173 non-null    int64
dtypes: float64(2), int64(17), object(2)
memory usage: 28.5+ KB

In [54]:
print(rg[rg.isnull().sum(axis=1) > 0])

    Rank  Major_code                  Major                       Major_category  Total  Sample_size   Men  Women  \
73    74        3801  MILITARY TECHNOLOGIES  Industrial Arts & Consumer Services    124            4  1756   1323

    ShareWomen  Employed  ...  Part_time  Full_time_year_round  Unemployed  Unemployment_rate  Median  P25th  P75th  \
73    0.429685         0  ...          0                   111           0                NaN   40000  40000  40000

    College_jobs  Non_college_jobs  Low_wage_jobs
73             0                 0              0

[1 rows x 21 columns]

In [56]:
# après nettoyage des " dans les csv , il reste juste une valeur manquante
# il s'agit du taux de chômage mais on sait qu'il y a personne au chômage dans cette major
# on peut donc dire que le taux de chômage est 0
rg.loc[rg.isnull().sum(axis=1) > 0, 'Unemployment_rate'] = 0

In [57]:
rg[rg.isnull().sum(axis=1) > 0]

Empty DataFrame
Columns: [Rank, Major_code, Major, Major_category, Total, Sample_size, Men, Women, ShareWomen, Employed, Full_time, Part_time, Full_time_year_round, Unemployed, Unemployment_rate, Median, P25th, P75th, College_jobs, Non_college_jobs, Low_wage_jobs]
Index: []

[0 rows x 21 columns]

In [72]:
# on peut éventuellement fusionner les 2 dataframes
# on vérifie que major_code est bien une varialble identifiante et identique dans les 2 df
print(len(aa.Major_code.unique()), len(rg.Major_code.unique()))
a = np.sort(aa.Major_code.unique())
b = np.sort(rg.Major_code.unique())
np.sum(a == b)

173 173

173

In [74]:
# on fusionne sur cette variable
df = pd.merge(aa, rg, on="Major_code", suffixes=('_aa', '_rg'))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Major_code                     173 non-null    int64
 1   Major_aa                       173 non-null    object
 2   Major_category_aa              173 non-null    object
 3   Total_aa                       173 non-null    int64
 4   Employed_aa                    173 non-null    int64
 5   Employed_full_time_year_round  173 non-null    int64
 6   Unemployed_aa                  173 non-null    int64
 7   Unemployment_rate_aa           173 non-null    float64
 8   Median_aa                      173 non-null    int64
 9   P25th_aa                       173 non-null    int64
 10  P75th_aa                       173 non-null    float64
 11  Rank                           173 non-null    int64
 12  Major_rg                       173 non-null    object
 13  Major_category_rg              173 non-null    object
 14  Total_rg                       173 non-null    int64
 15  Sample_size                    173 non-null    int64
 16  Men                            173 non-null    int64
 17  Women                          173 non-null    int64
 18  ShareWomen                     173 non-null    float64
 19  Employed_rg                    173 non-null    int64
 20  Full_time                      173 non-null    int64
 21  Part_time                      173 non-null    int64
 22  Full_time_year_round           173 non-null    int64
 23  Unemployed_rg                  173 non-null    int64
 24  Unemployment_rate_rg           173 non-null    float64
 25  Median_rg                      173 non-null    int64
 26  P25th_rg                       173 non-null    int64
 27  P75th_rg                       173 non-null    int64
 28  College_jobs                   173 non-null    int64
 29  Non_college_jobs               173 non-null    int64
 30  Low_wage_jobs                  173 non-null    int64
dtypes: float64(4), int64(23), object(4)
memory usage: 42.0+ KB

## Calculer le nombre d'étudiants par catégorie de Major (Major_category) dans chaque dataset

#### Contraintes:
- Définir une fonction permettant ce calcul et prenant commme paramètre un dataframe. Quel est l'intérêt d'une telle solution ?
- Le refaire d'une seconde manière avec une méthode déjà vue et permettant d'obtenir des tableaux croisés à partir d'un dataframe...

In [ ]:
# RAPPEL
# vous voulez sélection des colonnes pour certaines observations
# .loc[lignes, colonnes] -> avec noms de colonnes
# .iloc[lignes, colonnes] -> avec positions des colonnes

# juste sélectionner une ou plusieurs colonnes
# df[["nom1", "nom2"]]
# df["nom1"] <==> df.nom1

In [58]:
nb_stud = lambda df : df.groupby("Major_category").Total.sum()

nb_stud(aa), nb_stud(rg)

(Major_category
 Agriculture & Natural Resources         632437
 Arts                                   1805865
 Biology & Life Science                 1338186
 Business                               9858741
 Communications & Journalism            1803822
 Computers & Mathematics                1781378
 Education                              4700118
 Engineering                            3576013
 Health                                 2950859
 Humanities & Liberal Arts              3738335
 Industrial Arts & Consumer Services    1033798
 Interdisciplinary                        45199
 Law & Public Policy                     902926
 Physical Sciences                      1025318
 Psychology & Social Work               1987278
 Social Science                         2654125
 Name: Total, dtype: int64,
 Major_category
 Agriculture & Natural Resources          79981
 Arts                                    357130
 Biology & Life Science                  453862
 Business                               1302376
 Communications & Journalism             392601
 Computers & Mathematics                 299008
 Education                               559129
 Engineering                             537583
 Health                                  463230
 Humanities & Liberal Arts               713468
 Industrial Arts & Consumer Services     229792
 Interdisciplinary                        12296
 Law & Public Policy                     179107
 Physical Sciences                       185479
 Psychology & Social Work                481007
 Social Science                          529966
 Name: Total, dtype: int64)

In [85]:
res = aa.pivot_table(index="Major_category", values="Total", aggfunc="sum")
res.rename(columns={"Total":"Total_aa"}, inplace=True)
res['Total_rg'] = rg.pivot_table(index="Major_category", values="Total", aggfunc="sum")
res

                                     Total_aa  Total_rg
Major_category
Agriculture & Natural Resources        632437     79981
Arts                                  1805865    357130
Biology & Life Science                1338186    453862
Business                              9858741   1302376
Communications & Journalism           1803822    392601
Computers & Mathematics               1781378    299008
Education                             4700118    559129
Engineering                           3576013    537583
Health                                2950859    463230
Humanities & Liberal Arts             3738335    713468
Industrial Arts & Consumer Services   1033798    229792
Interdisciplinary                       45199     12296
Law & Public Policy                    902926    179107
Physical Sciences                     1025318    185479
Psychology & Social Work              1987278    481007
Social Science                        2654125    529966

## Taux de jobs à faible salaire

Utiliser les colonnes "Low_wage_jobs" et "Total" pour calculer la proportion de jeunes diplômés (donc recent_grads) qui ont du accepter des jobs à faible salaire. Interprétez ce résultat !

In [87]:
round(rg.Low_wage_jobs.sum()/rg.Total.sum() * 100, 2)

9.85

In [91]:
rg["low_wage_jobs_rate"] = rg.Low_wage_jobs/ rg.Total
rg.pivot_table(index="Major_category", values="low_wage_jobs_rate", aggfunc="mean")

                                     low_wage_jobs_rate
Major_category
Agriculture & Natural Resources                0.080408
Arts                                           0.184417
Biology & Life Science                         0.074043
Business                                       0.091599
Communications & Journalism                    0.125711
Computers & Mathematics                        0.059442
Education                                      0.078400
Engineering                                    0.051016
Health                                         0.090949
Humanities & Liberal Arts                      0.134025
Industrial Arts & Consumer Services            0.090585
Interdisciplinary                              0.086288
Law & Public Policy                            0.097922
Physical Sciences                              0.091722
Psychology & Social Work                       0.098176
Social Science                                 0.115596

## Comparer les données : déterminer le nombre de Major pour lesquelles les jeunes diplômés ont un taux de chômage plus faible qu'en population générale

Indications :
- Créer un compteur
- Utiliser une boucle for pour parcourir toutes les majors.
>- Comparer les valeurs pour la colonne "Unemployment_rate" pour voir lequel des 2 DataFrames possèdent la valeur la plus basse
>- Incrémenter le compteur si la valeur pour Unemployment_rate est plus petite dans le dataframe recent_grads que dans le dataframe all_ages
- Afficher le résultat du compteur.
- On pourra aussi éventuellement stocker dans une liste les majors concernées

### Même question avec major_category
Il y a plusieurs observations par catégorie, on utilise donc la moyenne agrégée pour les diplômés récents et le reste des étudiants :