# Les objets Series Pandas

Les 3 types d'objets Pandas :
- les Series
- les DataFrames
- les Panels (ensemble de DataFrames)

Les types de données dans un objet Series :
- float
- int
- bool
- datetime64
- timedelta
- category
- object

In [1]:
import pandas as pd

fandango = pd.read_csv('Data/fandango-score-comparison.csv')
fandango.head(2)

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5

## Indexage avec des entiers

- Sélectionner la colonne "FILM" et assigner la à la variable series_film puis afficher les 5 premières valeurs.
- Faire de même avec la colonne "RottenTomatoes" et assigner la à la variable series_rt puis afficher les 5 premières valeurs.

In [2]:
series_film = fandango['FILM']
series_film[0:5]

0    Avengers: Age of Ultron (2015)
1                 Cinderella (2015)
2                    Ant-Man (2015)
3            Do You Believe? (2015)
4     Hot Tub Time Machine 2 (2015)
Name: FILM, dtype: object

In [3]:
series_film.values

array(['Avengers: Age of Ultron (2015)', 'Cinderella (2015)',
       'Ant-Man (2015)', 'Do You Believe? (2015)',
       'Hot Tub Time Machine 2 (2015)', 'The Water Diviner (2015)',
       'Irrational Man (2015)', 'Top Five (2014)',
       'Shaun the Sheep Movie (2015)', 'Love & Mercy (2015)',
       'Far From The Madding Crowd (2015)', 'Black Sea (2015)',
       'Leviathan (2014)', 'Unbroken (2014)', 'The Imitation Game (2014)',
       'Taken 3 (2015)', 'Ted 2 (2015)', 'Southpaw (2015)',
       'Night at the Museum: Secret of the Tomb (2014)', 'Pixels (2015)',
       'McFarland, USA (2015)', 'Insidious: Chapter 3 (2015)',
       'The Man From U.N.C.L.E. (2015)', 'Run All Night (2015)',
       'Trainwreck (2015)', 'Selma (2014)', 'Ex Machina (2015)',
       'Still Alice (2015)', 'Wild Tales (2014)',
       'The End of the Tour (2015)', 'Red Army (2015)',
       'When Marnie Was There (2015)', 'The Hunting Ground (2015)',
       'The Boy Next Door (2015)', 'Aloha (2015)', 'The Loft (2015)',
       '5 Flights Up (2015)', 'Welcome to Me (2015)',
       'Saint Laurent (2015)', 'Maps to the Stars (2015)',
       "I'll See You In My Dreams (2015)", 'Timbuktu (2015)',
       'About Elly (2015)', 'The Diary of a Teenage Girl (2015)',
       'Kingsman: The Secret Service (2015)', 'Tomorrowland (2015)',
       'The Divergent Series: Insurgent (2015)', 'Annie (2014)',
       'Fantastic Four (2015)', 'Terminator Genisys (2015)',
       'Pitch Perfect 2 (2015)', 'Entourage (2015)',
       'The Age of Adaline (2015)', 'Hot Pursuit (2015)',
       'The DUFF (2015)', 'Black or White (2015)',
       'Project Almanac (2015)', 'Ricki and the Flash (2015)',
       'Seventh Son (2015)', 'Mortdecai (2015)',
       'Unfinished Business (2015)', 'American Ultra (2015)',
       'True Story (2015)', 'Child 44 (2015)', 'Dark Places (2015)',
       'Birdman (2014)', 'The Gift (2015)', 'Unfriended (2015)',
       'Monkey Kingdom (2015)', 'Mr. Turner (2014)',
       'Seymour: An Introduction (2015)', 'The Wrecking Crew (2015)',
       'American Sniper (2015)', 'Furious 7 (2015)',
       'The Hobbit: The Battle of the Five Armies (2014)',
       'San Andreas (2015)', 'Straight Outta Compton (2015)',
       'Vacation (2015)', 'Chappie (2015)', 'Poltergeist (2015)',
       'Paper Towns (2015)', 'Big Eyes (2014)', 'Blackhat (2015)',
       'Self/less (2015)', 'Sinister 2 (2015)', 'Little Boy (2015)',
       'Me and Earl and The Dying Girl (2015)', 'Maggie (2015)',
       'Mad Max: Fury Road (2015)', 'Spy (2015)',
       'The SpongeBob Movie: Sponge Out of Water (2015)',
       'Paddington (2015)', 'Dope (2015)',
       'What We Do in the Shadows (2015)', 'The Overnight (2015)',
       'The Salt of the Earth (2015)', 'Song of the Sea (2014)',
       'Fifty Shades of Grey (2015)', 'Get Hard (2015)', 'Focus (2015)',
       'Jupiter Ascending (2015)', 'The Gallows (2015)',
       'The Second Best Exotic Marigold Hotel (2015)',
       'Strange Magic (2015)', 'The Gunman (2015)',
       'Hitman: Agent 47 (2015)', 'Cake (2015)',
       'The Vatican Tapes (2015)', 'A Little Chaos (2015)',
       'The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)',
       'Escobar: Paradise Lost (2015)', 'Into the Woods (2014)',
       'It Follows (2015)', 'Inherent Vice (2014)',
       'A Most Violent Year (2014)', "While We're Young (2015)",
       'Clouds of Sils Maria (2015)', 'Testament of Youth (2015)',
       'Infinitely Polar Bear (2015)', 'Phoenix (2015)',
       'The Wolfpack (2015)', 'The Stanford Prison Experiment (2015)',
       'Tangerine (2015)', 'Magic Mike XXL (2015)', 'Home (2015)',
       'The Wedding Ringer (2015)', 'Woman in Gold (2015)',
       'The Last Five Years (2015)',
       'Mission: Impossible â€“ Rogue Nation (2015)', 'Amy (2015)',
       'Jurassic World (2015)', 'Minions (2015)', 'Max (2015)',
       'Paul Blart: Mall Cop 2 (2015)', 'The Longest Ride (2015)',
       'The Lazarus Effect (2015)',
       'The Woman In Black 2 Angel of Death (2015)',
       'Danny Collins (2015)', 'Spare Parts (2015)', 'Serena (2015)',
       'Inside Out (2015)', 'Mr. Holmes (2015)', "'71 (2015)",
       'Two Days, One Night (2014)',
       'Gett: The Trial of Viviane Amsalem (2015)',
       'Kumiko, The Treasure Hunter (2015)'], dtype=object)

In [4]:
series_rt = fandango['RottenTomatoes']
series_rt.head()

0    74
1    85
2    80
3    18
4    14
Name: RottenTomatoes, dtype: int64

In [5]:
series_rt.values

array([ 74,  85,  80,  18,  14,  63,  42,  86,  99,  89,  84,  82,  99,
        51,  90,   9,  46,  59,  50,  17,  79,  59,  68,  60,  85,  99,
        92,  88,  96,  92,  96,  89,  92,  10,  19,  11,  52,  71,  51,
        60,  94,  99,  97,  95,  75,  50,  30,  27,   9,  26,  67,  32,
        54,   8,  71,  39,  34,  64,  12,  12,  11,  46,  45,  26,  26,
        92,  93,  60,  94,  98, 100,  93,  72,  81,  61,  50,  90,  27,
        30,  31,  55,  72,  34,  20,  13,  20,  81,  54,  97,  93,  78,
        98,  87,  96,  82,  96,  99,  25,  29,  57,  26,  16,  62,  17,
        17,   7,  49,  13,  40,  67,  52,  71,  96,  73,  90,  83,  89,
        81,  80,  99,  84,  84,  95,  62,  45,  27,  52,  60,  92,  97,
        71,  54,  35,   5,  31,  14,  22,  77,  52,  18,  98,  87,  97,
        97, 100,  87])

## Personnaliser son indexage

- Créer un objet Series qu'on nommera series_perso qui aura un index de chaines de caractères et contiendra toutes les notes RottenTomatoes.
>- Attention de bien utiliser des listes de valeurs pour nos 2 paramètres de la méthode Series()
>- Ne pas oublier d'importer l'objet Series depuis pandas

In [20]:
from pandas import Series
series_perso = Series(data=series_rt.values, index=series_film.values)

In [21]:
cols = ['Minions (2015)', 'Taken 3 (2015)']
series_perso

Avengers: Age of Ultron (2015)                74
Cinderella (2015)                             85
Ant-Man (2015)                                80
Do You Believe? (2015)                        18
Hot Tub Time Machine 2 (2015)                 14
                                            ...
Mr. Holmes (2015)                             87
'71 (2015)                                    97
Two Days, One Night (2014)                    97
Gett: The Trial of Viviane Amsalem (2015)    100
Kumiko, The Treasure Hunter (2015)            87
Name: Rotten Tomatoes, Length: 146, dtype: int64

## Trier un objet Series

Trier la Series series_perso par index en utilisant la méthode sort_index() puis par valeurs avec sort_values()

In [24]:
series_perso.sort_index(ascending = False)[0:10]
series_perso.sort_values(ascending = False)[0:10]

Gett: The Trial of Viviane Amsalem (2015)    100
Seymour: An Introduction (2015)              100
Phoenix (2015)                                99
Timbuktu (2015)                               99
Song of the Sea (2014)                        99
Leviathan (2014)                              99
Shaun the Sheep Movie (2015)                  99
Selma (2014)                                  99
Mr. Turner (2014)                             98
Inside Out (2015)                             98
Name: Rotten Tomatoes, dtype: int64

## Transformation de colonnes

Pandas étant basé sur la libraire Numpy les fonctions Numpy sont disponibles pour effectuer des opérations sur les objets Series :
- Importer la libraire Numpy
- Tester un certain nombre de fonctions Numpy sur series_perso : notamment normaliser la Series series_perso (échelle de notes de 0 à 100) pour obtenir une échelle de notes de 0 à 5 en assignant le nouvel objet Series à la variable series_normalized

__&Agrave; noter__ : si les opérations numpy sur des array retournent un array (ou une valeur unique par exemple "np.max"), lorsqu'on les utilise sur un objet Series, on obtient bien un objet Series en sortie

In [25]:
import numpy as np
# addition
np.add(series_perso, series_perso)

Avengers: Age of Ultron (2015)               148
Cinderella (2015)                            170
Ant-Man (2015)                               160
Do You Believe? (2015)                        36
Hot Tub Time Machine 2 (2015)                 28
                                            ...
Mr. Holmes (2015)                            174
'71 (2015)                                   194
Two Days, One Night (2014)                   194
Gett: The Trial of Viviane Amsalem (2015)    200
Kumiko, The Treasure Hunter (2015)           174
Name: Rotten Tomatoes, Length: 146, dtype: int64

In [31]:
# fonction sinus
np.sin(series_perso)

Avengers: Age of Ultron (2015)              -0.985146
Cinderella (2015)                           -0.176076
Ant-Man (2015)                              -0.993889
Do You Believe? (2015)                      -0.750987
Hot Tub Time Machine 2 (2015)                0.990607
                                               ...
Mr. Holmes (2015)                           -0.821818
'71 (2015)                                   0.379608
Two Days, One Night (2014)                   0.379608
Gett: The Trial of Viviane Amsalem (2015)   -0.506366
Kumiko, The Treasure Hunter (2015)          -0.821818
Name: Rotten Tomatoes, Length: 146, dtype: float64

In [27]:
np.mean(series_perso)

60.84931506849315

In [28]:
np.min(series_perso)

5

In [29]:
series_normalized = series_perso/20
series_normalized

Avengers: Age of Ultron (2015)               3.70
Cinderella (2015)                            4.25
Ant-Man (2015)                               4.00
Do You Believe? (2015)                       0.90
Hot Tub Time Machine 2 (2015)                0.70
                                             ...
Mr. Holmes (2015)                            4.35
'71 (2015)                                   4.85
Two Days, One Night (2014)                   4.85
Gett: The Trial of Viviane Amsalem (2015)    5.00
Kumiko, The Treasure Hunter (2015)           4.35
Name: Rotten Tomatoes, Length: 146, dtype: float64

## Comparer et filtrer

- Afficher les éléments de series_perso qui correspondent aux notes entre 50 et 80
- Créer une fonction prenant 2 paramètres entiers (la borne supérieure et la borne inférieure) et qui retourne uniquement les films dont la note est comprise entre ces 2 entiers

In [34]:
filtre = (series_perso > 50) & (series_perso < b)
series_perso[filtre]

Avengers: Age of Ultron (2015)                                            74
The Water Diviner (2015)                                                  63
Unbroken (2014)                                                           51
Southpaw (2015)                                                           59
McFarland, USA (2015)                                                     79
Insidious: Chapter 3 (2015)                                               59
The Man From U.N.C.L.E. (2015)                                            68
Run All Night (2015)                                                      60
5 Flights Up (2015)                                                       52
Welcome to Me (2015)                                                      71
Saint Laurent (2015)                                                      51
Maps to the Stars (2015)                                                  60
Kingsman: The Secret Service (2015)                                       75
Pitch Perfect 2 (2015)                                                    67
The Age of Adaline (2015)                                                 54
The DUFF (2015)                                                           71
Ricki and the Flash (2015)                                                64
Unfriended (2015)                                                         60
American Sniper (2015)                                                    72
The Hobbit: The Battle of the Five Armies (2014)                          61
Paper Towns (2015)                                                        55
Big Eyes (2014)                                                           72
Maggie (2015)                                                             54
The SpongeBob Movie: Sponge Out of Water (2015)                           78
Focus (2015)                                                              57
The Second Best Exotic Marigold Hotel (2015)                              62
The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)    67
Escobar: Paradise Lost (2015)                                             52
Into the Woods (2014)                                                     71
Inherent Vice (2014)                                                      73
Magic Mike XXL (2015)                                                     62
Woman in Gold (2015)                                                      52
The Last Five Years (2015)                                                60
Jurassic World (2015)                                                     71
Minions (2015)                                                            54
Danny Collins (2015)                                                      77
Spare Parts (2015)                                                        52
Name: Rotten Tomatoes, dtype: int64

In [36]:
def note_entre(series, inf, sup):
    filtre = (series > inf) & (series < sup)
    return series[filtre]

note_entre(series_perso, 20, 70)

The Water Diviner (2015)                                                  63
Irrational Man (2015)                                                     42
Unbroken (2014)                                                           51
Ted 2 (2015)                                                              46
Southpaw (2015)                                                           59
Night at the Museum: Secret of the Tomb (2014)                            50
Insidious: Chapter 3 (2015)                                               59
The Man From U.N.C.L.E. (2015)                                            68
Run All Night (2015)                                                      60
5 Flights Up (2015)                                                       52
Saint Laurent (2015)                                                      51
Maps to the Stars (2015)                                                  60
Tomorrowland (2015)                                                       50
The Divergent Series: Insurgent (2015)                                    30
Annie (2014)                                                              27
Terminator Genisys (2015)                                                 26
Pitch Perfect 2 (2015)                                                    67
Entourage (2015)                                                          32
The Age of Adaline (2015)                                                 54
Black or White (2015)                                                     39
Project Almanac (2015)                                                    34
Ricki and the Flash (2015)                                                64
American Ultra (2015)                                                     46
True Story (2015)                                                         45
Child 44 (2015)                                                           26
Dark Places (2015)                                                        26
Unfriended (2015)                                                         60
The Hobbit: The Battle of the Five Armies (2014)                          61
San Andreas (2015)                                                        50
Vacation (2015)                                                           27
Chappie (2015)                                                            30
Poltergeist (2015)                                                        31
Paper Towns (2015)                                                        55
Blackhat (2015)                                                           34
Maggie (2015)                                                             54
Fifty Shades of Grey (2015)                                               25
Get Hard (2015)                                                           29
Focus (2015)                                                              57
Jupiter Ascending (2015)                                                  26
The Second Best Exotic Marigold Hotel (2015)                              62
Cake (2015)                                                               49
A Little Chaos (2015)                                                     40
The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)    67
Escobar: Paradise Lost (2015)                                             52
Magic Mike XXL (2015)                                                     62
Home (2015)                                                               45
The Wedding Ringer (2015)                                                 27
Woman in Gold (2015)                                                      52
The Last Five Years (2015)                                                60
Minions (2015)                                                            54
Max (2015)                                                                35
The Longest Ride (2015)                                                   31
The Woman In Black 2 Angel of Death (2015)                                22
Spare Parts (2015)                                                        52
Name: Rotten Tomatoes, dtype: int64

## Alignement des données

Il s'agit du principe majeur de pandas.  
Les objets Series s'alignent avec les indexes et les DataFrames avec les indexes et les colonnes.  
Les Series préservent implicitement le lien entre les intitulés d'indexes et les valeurs à travers les différentes opérations et transformations. Pour les Dataframes, pandas préserve aussi le lien.  
Ce principe permet d'uiliser pandas pour travailler avec des données et offre l'avantage comme évoqué précédemment d'utiliser numpy avec (opérations mathématiques classiques).

Calculer la moyenne des notes des critiques et des utilisateurs de la plateforme RottenTomatoes.  
Indications :
- Créer les Series rt_critics (et rt_users) ayant pour valeurs les notes RottenTomatoes des critiques (des users) et comme index le nom des films
- Utiliser des opérations mathématiques pour retourner dans un nouvel objet Series rt_mean la moyenne des notes des critiques et des utilisateurs pour chaque film

In [37]:
rt_critics = pd.Series(fandango['RottenTomatoes'].values, index=fandango['FILM'].values)
rt_users = pd.Series(fandango['RottenTomatoes_User'].values, index=fandango['FILM'].values)

In [40]:
rt_mean_notes = (rt_critics + rt_users) / 2
rt_mean_notes

Avengers: Age of Ultron (2015)               80.0
Cinderella (2015)                            82.5
Ant-Man (2015)                               85.0
Do You Believe? (2015)                       51.0
Hot Tub Time Machine 2 (2015)                21.0
                                             ...
Mr. Holmes (2015)                            82.5
'71 (2015)                                   89.5
Two Days, One Night (2014)                   87.5
Gett: The Trial of Viviane Amsalem (2015)    90.5
Kumiko, The Treasure Hunter (2015)           75.0
Length: 146, dtype: float64