# Les objets DataFrames Pandas

Importer les données 'fandango_score_comparison'

In [1]:
import pandas as pd

fandango = pd.read_csv('Data/fandango-score-comparison.csv')
fandango.head()

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5
2,Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.5,...,3.90,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5
3,Do You Believe? (2015),18,84,22,4.7,5.4,5.0,4.5,0.90,4.2,...,2.70,1.0,4.0,1.0,2.5,2.5,31,3136,1793,0.5
4,Hot Tub Time Machine 2 (2015),14,28,29,3.4,5.1,3.5,3.0,0.70,1.4,...,2.55,0.5,1.5,1.5,1.5,2.5,88,19560,1021,0.5

## Indexage avec des entiers

In [2]:
fandango[142:]

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
142,'71 (2015),97,82,83,7.5,7.2,3.5,3.5,4.85,4.10,...,3.60,5.0,4.0,4.0,4.0,3.5,60,24116,192,0.0
143,"Two Days, One Night (2014)",97,78,89,8.8,7.4,3.5,3.5,4.85,3.90,...,3.70,5.0,4.0,4.5,4.5,3.5,123,24345,118,0.0
144,Gett: The Trial of Viviane Amsalem (2015),100,81,90,7.3,7.8,3.5,3.5,5.00,4.05,...,3.90,5.0,4.0,4.5,3.5,4.0,19,1955,59,0.0
145,"Kumiko, The Treasure Hunter (2015)",87,63,68,6.4,6.7,3.5,3.5,4.35,3.15,...,3.35,4.5,3.0,3.5,3.0,3.5,19,5289,41,0.0

In [3]:
fandango[-4:-1]

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
142,'71 (2015),97,82,83,7.5,7.2,3.5,3.5,4.85,4.10,...,3.6,5.0,4.0,4.0,4.0,3.5,60,24116,192,0.0
143,"Two Days, One Night (2014)",97,78,89,8.8,7.4,3.5,3.5,4.85,3.90,...,3.7,5.0,4.0,4.5,4.5,3.5,123,24345,118,0.0
144,Gett: The Trial of Viviane Amsalem (2015),100,81,90,7.3,7.8,3.5,3.5,5.00,4.05,...,3.9,5.0,4.0,4.5,3.5,4.0,19,1955,59,0.0

In [4]:
fandango.iloc[2]

FILM                          Ant-Man (2015)
RottenTomatoes                            80
RottenTomatoes_User                       90
Metacritic                                64
Metacritic_User                          8.1
IMDB                                     7.8
Fandango_Stars                           5.0
Fandango_Ratingvalue                     4.5
RT_norm                                  4.0
RT_user_norm                             4.5
Metacritic_norm                          3.2
Metacritic_user_nom                     4.05
IMDB_norm                                3.9
RT_norm_round                            4.0
RT_user_norm_round                       4.5
Metacritic_norm_round                    3.0
Metacritic_user_norm_round               4.0
IMDB_norm_round                          4.0
Metacritic_user_vote_count               627
IMDB_user_vote_count                  103660
Fandango_votes                         12055
Fandango_Difference                      0.5
Name: 2, dtype: object

In [5]:
fandango.iloc[[2,142,42]]

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
2,Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.5,...,3.9,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5
142,'71 (2015),97,82,83,7.5,7.2,3.5,3.5,4.85,4.1,...,3.6,5.0,4.0,4.0,4.0,3.5,60,24116,192,0.0
42,About Elly (2015),97,86,87,9.6,8.2,4.0,3.6,4.85,4.3,...,4.1,5.0,4.5,4.5,5.0,4.0,23,20659,43,0.4

Retourner un DataFrame contenant seulement la première et la dernière ligne

In [13]:
len(fandango)

146

In [11]:
fandango.iloc[[0, len(fandango) - 1], :]

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.30,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
145,"Kumiko, The Treasure Hunter (2015)",87,63,68,6.4,6.7,3.5,3.5,4.35,3.15,...,3.35,4.5,3.0,3.5,3.0,3.5,19,5289,41,0.0

## Indexage personnalisé

- Créer un nouveau dataframe fandango_perso avec la colonne 'FILM' comme index en utilisant la méthode set_index (remarque : on veut conserver la colonne 'FILM')
- Afficher les indexes du DataFrame fandango_perso

In [27]:
fandango_perso = fandango.set_index("FILM", drop = False).copy()
fandango_perso.index

Index(['Avengers: Age of Ultron (2015)', 'Cinderella (2015)', 'Ant-Man (2015)',
       'Do You Believe? (2015)', 'Hot Tub Time Machine 2 (2015)',
       'The Water Diviner (2015)', 'Irrational Man (2015)', 'Top Five (2014)',
       'Shaun the Sheep Movie (2015)', 'Love & Mercy (2015)',
       ...
       'The Woman In Black 2 Angel of Death (2015)', 'Danny Collins (2015)',
       'Spare Parts (2015)', 'Serena (2015)', 'Inside Out (2015)',
       'Mr. Holmes (2015)', ''71 (2015)', 'Two Days, One Night (2014)',
       'Gett: The Trial of Viviane Amsalem (2015)',
       'Kumiko, The Treasure Hunter (2015)'],
      dtype='object', name='FILM', length=146)

## Sélectionner des valeurs depuis un index (personnalisé ou non)

Créer un dataframe films contenant les films suivants dans l'ordre indiqué :
- "Top Five (2014)"
- "Black Sea (2015)"
- "Taken 3 (2015)"

Le faire de 2 manières : l'une utilisera le dataframe fandango initial et l'autre utilisera le dataframe fandango_perso

In [32]:
liste_films = ["Top Five (2014)","Black Sea (2015)","Taken 3 (2015)"]
mes_films = fandango_perso.loc[liste_films, :]
mes_films

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
FILM,,,,,,,,,,,,,,,,,,,,,
Top Five (2014),Top Five (2014),86,64,81,6.8,6.5,4.0,3.5,4.30,3.2,...,3.25,4.5,3.0,4.0,3.5,3.5,124,16876,3223,0.5
Black Sea (2015),Black Sea (2015),82,60,62,6.6,6.4,4.0,3.5,4.10,3.0,...,3.20,4.0,3.0,3.0,3.5,3.0,37,16547,218,0.5
Taken 3 (2015),Taken 3 (2015),9,46,26,4.6,6.1,4.5,4.1,0.45,2.3,...,3.05,0.5,2.5,1.5,2.5,3.0,240,104235,6757,0.4

In [31]:
fandango[[i in ["Top Five (2014)","Black Sea (2015)","Taken 3 (2015)"] for i in fandango.FILM], :]

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
7,Top Five (2014),86,64,81,6.8,6.5,4.0,3.5,4.30,3.2,...,3.25,4.5,3.0,4.0,3.5,3.5,124,16876,3223,0.5
11,Black Sea (2015),82,60,62,6.6,6.4,4.0,3.5,4.10,3.0,...,3.20,4.0,3.0,3.0,3.5,3.0,37,16547,218,0.5
15,Taken 3 (2015),9,46,26,4.6,6.1,4.5,4.1,0.45,2.3,...,3.05,0.5,2.5,1.5,2.5,3.0,240,104235,6757,0.4

## Méthode Apply() sur les colonnes d'un DataFrame

- Obtenir le dataframe float_df qui ne contient que les colonnes de type décimales float64
>- dtypes est votre ami
>- vaut-il mieux utiliser le dataframe fandango ou bien fandango_perso (indexés par les films) ?
- Diviser par 2 chaque valeur, élever chaque valeur au carré, calculer l'écart-type de chaque colonne
>- apply et la fonction std de la limbraire numpy sont vos amis
>- stocker les résultats dans 2 variables

In [44]:
# solution avec méthode select_dtypes
float_df = fandango.select_dtypes(include="float64").copy()

In [40]:
filtre = fandango.dtypes =="float64"
float_df = fandango[fandango.columns[filtre]].copy()
float_df

,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,Metacritic_norm,Metacritic_user_nom,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Fandango_Difference
0,7.1,7.8,5.0,4.5,3.70,4.30,3.30,3.55,3.90,3.5,4.5,3.5,3.5,4.0,0.5
1,7.5,7.1,5.0,4.5,4.25,4.00,3.35,3.75,3.55,4.5,4.0,3.5,4.0,3.5,0.5
2,8.1,7.8,5.0,4.5,4.00,4.50,3.20,4.05,3.90,4.0,4.5,3.0,4.0,4.0,0.5
3,4.7,5.4,5.0,4.5,0.90,4.20,1.10,2.35,2.70,1.0,4.0,1.0,2.5,2.5,0.5
4,3.4,5.1,3.5,3.0,0.70,1.40,1.45,1.70,2.55,0.5,1.5,1.5,1.5,2.5,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,7.9,7.4,4.0,4.0,4.35,3.90,3.35,3.95,3.70,4.5,4.0,3.5,4.0,3.5,0.0
142,7.5,7.2,3.5,3.5,4.85,4.10,4.15,3.75,3.60,5.0,4.0,4.0,4.0,3.5,0.0
143,8.8,7.4,3.5,3.5,4.85,3.90,4.45,4.40,3.70,5.0,4.0,4.5,4.5,3.5,0.0
144,7.3,7.8,3.5,3.5,5.00,4.05,4.50,3.65,3.90,5.0,4.0,4.5,3.5,4.0,0.0
145,6.4,6.7,3.5,3.5,4.35,3.15,3.40,3.20,3.35,4.5,3.0,3.5,3.0,3.5,0.0

In [50]:
def div(x):
    return x/2

div(float_df.iloc[:, 0])
float_df.apply(div, axis=0)

0      3.55
1      3.75
2      4.05
3      2.35
4      1.70
       ...
141    3.95
142    3.75
143    4.40
144    3.65
145    3.20
Name: Metacritic_User, Length: 146, dtype: float64

In [51]:
# définition "à la volée"
float_df.apply(lambda x : x/2)

,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,Metacritic_norm,Metacritic_user_nom,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Fandango_Difference
0,3.55,3.90,2.50,2.25,1.850,2.150,1.650,1.775,1.950,1.75,2.25,1.75,1.75,2.00,0.25
1,3.75,3.55,2.50,2.25,2.125,2.000,1.675,1.875,1.775,2.25,2.00,1.75,2.00,1.75,0.25
2,4.05,3.90,2.50,2.25,2.000,2.250,1.600,2.025,1.950,2.00,2.25,1.50,2.00,2.00,0.25
3,2.35,2.70,2.50,2.25,0.450,2.100,0.550,1.175,1.350,0.50,2.00,0.50,1.25,1.25,0.25
4,1.70,2.55,1.75,1.50,0.350,0.700,0.725,0.850,1.275,0.25,0.75,0.75,0.75,1.25,0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,3.95,3.70,2.00,2.00,2.175,1.950,1.675,1.975,1.850,2.25,2.00,1.75,2.00,1.75,0.00
142,3.75,3.60,1.75,1.75,2.425,2.050,2.075,1.875,1.800,2.50,2.00,2.00,2.00,1.75,0.00
143,4.40,3.70,1.75,1.75,2.425,1.950,2.225,2.200,1.850,2.50,2.00,2.25,2.25,1.75,0.00
144,3.65,3.90,1.75,1.75,2.500,2.025,2.250,1.825,1.950,2.50,2.00,2.25,1.75,2.00,0.00
145,3.20,3.35,1.75,1.75,2.175,1.575,1.700,1.600,1.675,2.25,1.50,1.75,1.50,1.75,0.00

In [52]:
# au carré
float_df.apply(lambda x : x**2)

,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,Metacritic_norm,Metacritic_user_nom,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Fandango_Difference
0,50.41,60.84,25.00,20.25,13.6900,18.4900,10.8900,12.6025,15.2100,12.25,20.25,12.25,12.25,16.00,0.25
1,56.25,50.41,25.00,20.25,18.0625,16.0000,11.2225,14.0625,12.6025,20.25,16.00,12.25,16.00,12.25,0.25
2,65.61,60.84,25.00,20.25,16.0000,20.2500,10.2400,16.4025,15.2100,16.00,20.25,9.00,16.00,16.00,0.25
3,22.09,29.16,25.00,20.25,0.8100,17.6400,1.2100,5.5225,7.2900,1.00,16.00,1.00,6.25,6.25,0.25
4,11.56,26.01,12.25,9.00,0.4900,1.9600,2.1025,2.8900,6.5025,0.25,2.25,2.25,2.25,6.25,0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,62.41,54.76,16.00,16.00,18.9225,15.2100,11.2225,15.6025,13.6900,20.25,16.00,12.25,16.00,12.25,0.00
142,56.25,51.84,12.25,12.25,23.5225,16.8100,17.2225,14.0625,12.9600,25.00,16.00,16.00,16.00,12.25,0.00
143,77.44,54.76,12.25,12.25,23.5225,15.2100,19.8025,19.3600,13.6900,25.00,16.00,20.25,20.25,12.25,0.00
144,53.29,60.84,12.25,12.25,25.0000,16.4025,20.2500,13.3225,15.2100,25.00,16.00,20.25,12.25,16.00,0.00
145,40.96,44.89,12.25,12.25,18.9225,9.9225,11.5600,10.2400,11.2225,20.25,9.00,12.25,9.00,12.25,0.00

In [55]:
import numpy as np
float_df.apply(np.std, axis=0)

Metacritic_User               1.505529
IMDB                          0.955447
Fandango_Stars                0.538532
Fandango_Ratingvalue          0.501106
RT_norm                       1.503265
RT_user_norm                  0.997787
Metacritic_norm               0.972522
Metacritic_user_nom           0.752765
IMDB_norm                     0.477723
RT_norm_round                 1.509404
RT_user_norm_round            1.003559
Metacritic_norm_round         0.987561
Metacritic_user_norm_round    0.785412
IMDB_norm_round               0.501043
Fandango_Difference           0.152141
dtype: float64

## Méthode Apply() sur les lignes d'un DataFrame

- Utiliser la méthode apply() pour calculer la moyenne (méthode mean() de la librairie Numpy) des valeurs de chaque film pour 'RT_user_norm' et 'metacritic_user_nom' puis assigner le résultat à la variable rt_mc_means
- Afficher les 7 premières valeurs de rt_mt_means

In [58]:
float_df["Ma moyenne"] = float_df[['RT_user_norm', 'Metacritic_user_nom']].apply(np.mean, axis = 1)

In [59]:
float_df[["Ma moyenne", 'RT_user_norm', 'Metacritic_user_nom']]

     Ma moyenne  RT_user_norm  Metacritic_user_nom
0         3.925          4.30                 3.55
1         3.875          4.00                 3.75
2         4.275          4.50                 4.05
3         3.275          4.20                 2.35
4         1.550          1.40                 1.70
..          ...           ...                  ...
141       3.925          3.90                 3.95
142       3.925          4.10                 3.75
143       4.150          3.90                 4.40
144       3.850          4.05                 3.65
145       3.175          3.15                 3.20

[146 rows x 3 columns]